@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "all.min.css";
@import "fontawesome.min.css";

:root {
    --bg: #2b2c2f;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}