@import "default.css";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color:white;
}



.navbar-right {
    margin-top: 22px;
    margin-right: 70px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 48rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


.wow {
    height: 1100px;
    width: 1100px;
    margin: 40px auto 0;
    background: orange;
    border-radius: 20px;
    padding: 50px;
}

.blue {
    background: blue;
}



.menu_ul ul{
    display: flex;
    
}
menu_navbar{
    z-index: 100;
}
.menu_ul.active{
    transform: translateX(0%);
}

.menu_ul ul a{
    margin: 10px;
    padding: 10px 15px;
    color: white;
    font-size: 10px;
    display: flex;
    text-transform: uppercase;
    transition: 0.5s;
}

.menu_ul ul a:hover{
 
}



.menu_btn{
    color: wheat;
    padding: 10px;
    background: #000;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}

.logo{
    font-size: 20px;
    color: white;
}



@media (max-width: 1420px) {
    .wow {
        width: 900px;
    }
}

@media (max-width: 1220px) {
    .wow {
        width: 800px;
    }
}

@media (max-width: 1120px) {
    .wow {
        width: 700px;
    }
}

@media (max-width: 1020px) {
    .wow {
        width: 600px;
    }
}

@media (max-width: 992px) {
    .wow {
        width: 100%;
    }
}
 
@media(max-width: 700px){
    .menu_ul{
         z-index: 200;
        position: fixed;
        background: rgb(58, 58, 58);
        display: flex;
        align-items: center;
        width: 50%;
        height: 100vh;
        top:0;
        right: 0;
        transform: translateX(100%);
        transition: 1s;
       
    }
    
    .menu_btn{
        
        display: block;
        
    }
    
    .menu_ul ul{
        flex-direction: column;
    }
    
    
}









